<div app-layout="home" app-title="Create Booking">
  <link href="views/booking/booking.css" rel="stylesheet" />
  <div page-state="create-form">
    <div class="page-header">
      <div class="page-title">Create Order</div>
      <div class="page-tools">
        <ul class="toolbar">
          <li class="toolbar-item">
            <button class="btn" id="sorder-create">
              <i class="fa fa-save"></i>Save
            </button>
          </li>
          <li class="toolbar-item">
            <button class="btn back-btn" id="back-page">Back</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="panel-box detail-box create-order">
        <div class="row detail-wrp" id="add-odetail-form">
          <div class="col-sm-4" id="customer-detail">
            <h4 class="title-cs">Order Details</h4>
            <div class="form-group" id="pnlClient">
              <select class="form-control" id="ddlClient"></select>
            </div>
            <div class="wrp-cus-inp">
              <input
                type="text"
                id="customer_select"
                disabled
                autocomplete="off"
                class="form-control"
                required
                validate
                placeholder="Customer"
              />
              <button class="btn" id="add_cus">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <div>
              <input
                type="text"
                id="shipto_name"
                data-bind="Customer"
                autocomplete="off"
                class="form-control"
                required
                validate
                placeholder="Ship To Name"
              />
            </div>
            <h5 class="name-cs" data-bind="Customer"></h5>
            <p data-bind="BillStreet" style="display: none;"></p>
            <p data-bind="BillAddress"></p>
            <p>
              <span data-bind="BillCity"></span><span class="comma">,</span>
              <span data-bind="BillState"></span>
              <span data-bind="BillZipCode"></span>
            </p>
            <!-- <p data-bind="BillState"></p>
            <p data-bind="BillCity"></p>
            <p data-bind="BillZipCode"></p> -->
            <p data-bind="contact"></p>
            <p data-bind="email"></p>
            <label class="checbox-cs"
              ><input type="checkbox" id="shbi_chk" checked disabled /><span
                class="checkmark"
              ></span
              >Shipping Address same as Billing Address</label
            >
          </div>

          <div class="col-sm-8">
            <div class="row">
              <div class="form-group col-sm-4">
                <label for="Ordernumber">Order Reference #</label>
                <input
                  type="text"
                  class="form-control"
                  id="Ordernumber"
                  placeholder="00000799"
                />
              </div>
              <div class="form-group col-sm-4">
                <label for="OrderDate">Order Date</label>
                <input
                  type="text"
                  class="form-control datepicker"
                  id="OrderDate"
                  required
                  validate
                />
              </div>
              <div class="form-group col-sm-4">
                <label for="DeliveryDate">Delivery Date</label>
                <input
                  type="text"
                  class="form-control datepicker"
                  id="DeliveryDate"
                  validate
                />
              </div>
              <div class="form-group col-sm-4">
                <label for="TotalPrice">Total Amount</label>
                <input
                  type="text"
                  class="form-control alignright"
                  id="TotalPrice"
                  required
                  validate
                  disabled
                />
              </div>
              <div class="form-group col-sm-4">
                <label for="TotalTax">Total Tax</label>
                <input
                  type="text"
                  class="form-control alignright"
                  id="TotalTax"
                  required
                  validate
                  disabled
                />
              </div>
              <div class="form-group col-sm-4">
                <label for="TotalDiscs">Total Discount</label>
                <input
                  type="text"
                  class="form-control alignright"
                  id="TotalDisc"
                  required
                  validate
                  disabled
                />
              </div>
              <div class="form-group col-sm-4">
                <label for="AddionalDiscount">additional Discount</label>
                <input
                  type="text"
                  decimal="2"
                  value="0"
                  class="form-control alignright"
                  id="AddionalDiscount"
                  required
                  validate
                />
              </div>
              <div class="form-group col-sm-4">
                <label for="pmethod">Payment Method</label>
                <select class="form-control" id="pmethod">
                  <option value="1">On Account</option>
                  <option value="2">Credit Card</option>
                  <option value="3">Cash On Delivery</option>
                  <option value="4">PrePaid</option>
                </select>
              </div>
              <div class="form-group col-sm-4"></div>
              <div class="form-group col-sm-4">
                <label for="txtRemarks">Note / Remarks:</label>
                <textarea
                  class="form-control"
                  id="txtRemarks"
                  rows="2"
                ></textarea>
              </div>
              <div class="form-group col-sm-4">
                <label for="ShippingNote">Invoice Note:</label>
                <textarea
                  class="form-control"
                  id="ShippingNote"
                  rows="2"
                ></textarea>
              </div>
              <div class="form-group col-sm-4">
                <label for="InternalNote">Internal Note:</label>
                <textarea
                  class="form-control"
                  id="InternalNote"
                  rows="2"
                ></textarea>
              </div>
              <div class="form-group col-sm-12" id="shipping_info_form">
                <div class="row" style="display: none;">
                  <div class="col-sm-12">
                    <h4 class="panel-box-title">Shipping Information</h4>
                  </div>
                  <div class="col-sm-4">
                    <label for="shi_address">Address</label>
                    <input
                      type="text"
                      class="form-control"
                      data-bind="Address"
                      id="shi_address"
                    />
                  </div>
                  <div class="col-sm-4" style="display: none;">
                    <label for="shi_street">Street</label>
                    <input
                      type="text"
                      class="form-control"
                      data-bind="Street"
                      id="shi_street"
                    />
                  </div>
                  <div class="col-sm-4">
                    <label for="shi_state">State</label>
                    <input
                      type="text"
                      class="form-control"
                      data-bind="State"
                      id="shi_state"
                    />
                  </div>
                  <div class="col-sm-4">
                    <label for="shi_city">City</label>
                    <input
                      type="text"
                      class="form-control"
                      data-bind="City"
                      id="shi_city"
                      disabled
                    />
                  </div>
                  <div class="col-sm-4">
                    <label for="shi_zipc">Zipcode</label>
                    <input
                      type="text"
                      decimal="0"
                      class="form-control"
                      data-bind="ZipCode"
                      id="shi_zipc"
                    />
                  </div>
                  <div class="col-sm-4">
                    <label for="shi_cont">Contact</label>
                    <input
                      type="text"
                      decimal="0"
                      class="form-control"
                      data-bind="contact"
                      id="shi_cont"
                    />
                  </div>
                  <div class="col-sm-4">
                    <label for="shi_email">Email</label>
                    <input
                      type="text"
                      class="form-control"
                      data-bind="email"
                      id="shi_email"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-box">
        <h4 class="panel-box-title">Add Items</h4>
        <div class="row add-item-form" id="add-oitem-form">
          <div class="form-group col-sm-2 icon-abs">
            <label for="SKU">Sku</label>
            <div class="inpic_wrp">
              <input
                type="text"
                class="form-control"
                id="SKUselect-so-add"
                autocomplete="off"
                disabled="disabled"
                placeholder="e.g. SKU716"
                required=""
                validate=""
              />
              <button
                tabindex="-1"
                id="btn_cate_modal"
                disabled
                class="btn-ico-abs"
              >
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="form-group col-sm-2">
            <label for="title">Product Title</label>
            <input
              type="text"
              disabled
              class="form-control"
              autocomplete="off"
              id="product_title"
              required=""
              validate=""
            />
          </div>
          <div class="col-sm-5">
            <div class="row inner-coloumn">
              <div class="form-group col-sm-3 qty_col">
                <label for="quantity" class="alignright">Quantity</label>
                <input
                  type="text"
                  decimal="2"
                  class="form-control alignright"
                  id="quantity"
                  required=""
                  validate=""
                />
                <span class="stck_unsh" id="stock_unsh"></span>
              </div>
              <div class="form-group col-sm-3">
                <label for="UnitPrice" class="alignright">Unit Price</label>
                <input
                  type="text"
                  decimal="4"
                  data-type="decimal"
                  class="form-control alignright"
                  id="UnitPrice"
                  required=""
                  validate=""
                />
              </div>
              <div class="form-group col-sm-2" style="display: none;">
                <label for="UnitTax" class="alignright">Unit Tax</label>
                <input
                  type="text"
                  disabled
                  decimal="4"
                  class="form-control alignright"
                  id="UnitTax"
                  required=""
                  validate=""
                />
              </div>
              <div class="form-group col-sm-3 disc_amc dischide">
                <label for="UnitDiscount" class="alignright">Disc Rate</label>
                <input
                  type="text"
                  decimal="4"
                  class="form-control alignright"
                  id="UnitDiscount"
                />
              </div>
              <div class="form-group col-sm-3 dischide">
                <label for="Discount_per" class="alignright">Disc %</label>
                <input
                  type="text"
                  decimal="4"
                  class="form-control alignright"
                  id="Discount_per"
                />
              </div>
            </div>
          </div>
          <div class="form-group pad-r15 col-sm-2" style="display: none;">
            <label for="SKU">Batch code</label>
            <select class="form-control" id="batchcode"></select>
          </div>
          <div class="col-sm-1">
            <button class="btn greenbg right-btn mt-24" id="btnadditems">
              <i class="fa fa-plus" aria-hidden="true"></i>Add
            </button>
          </div>
        </div>
        <table width="100%" id="order-add-items">
          <thead>
            <tr>
              <th width="100"></th>
              <th width="150">Sku</th>
              <th width="250">Product Title</th>
              <th width="120" class="alignright">Quantity</th>
              <th width="120" class="alignright">Unit Price</th>
              <th width="120" class="alignright">Unit Tax</th>
              <th width="140" class="alignright dischide">Disc Rate</th>
              <th width="160" class="alignright dischide">Disc Amount</th>
              <th width="120" class="alignright">Item Total</th>
              <th width="180">Batch Code</th>
              <th width="55"></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
