<div include-html="_shared/header.html"></div>
<div class="page-container">
  <div include-html="_shared/sidenav.html" class="side-nav" id="sidenav"></div>
  <!-- Page content holder -->
  <div class="content-area" id="content">
    <!-- Demo content -->
    <div class="content-flex">
      <div container="view"></div>
    </div>
    <div class="footer-bar">
      Powered by
      <a target="_blank" href="https://www.matechco.com/">Matech CO</a>
    </div>
  </div>
  <!-- End demo content -->
</div>
